<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >

<suite name="OrangeHRM" verbose="1" parallel="false">
    <test name="Chrome Tests" >
        <parameter name="browser" value="chrome"></parameter>
        <classes>
            <class name="com.orphynova.tests.LoginTest" />
            <class name="com.orphynova.tests..JobTitlesTest"></class>
        </classes>
    </test>
    <test name="Firefox Tests" >
        <parameter name="browser" value="firefox"></parameter>
        <classes>
            <class name="com.orphynova.tests.LoginTest" />
            <class name="com.orphynova.tests.JobTitlesTest"></class>
        </classes>
    </test>

    <test name="Safari Tests" >
        <parameter name="browser" value="safari"></parameter>
        <classes>
            <class name="com.orphynova.tests.LoginTest" />
            <class name="com.orphynova.tests.JobTitlesTest"></class>
        </classes>
    </test>
</suite>
